<div class="container">
  <h3
    class="text-center text-light"
    style="
      font-family: 'Quicksand', sans-serif;
      font-weight: 600;
      margin-top: 80px;
    "
  >
    Now Showing
  </h3>
  <fa-icon [icon]="faCamera" class="icon"></fa-icon>

  <div class="row my-5">
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../assets/mib.jpg"
          alt="Card image cap"
          height="400px"
        />
        <div class="card-body">
          <h5 class="card-title text-light">Men In Black: International</h5>
          <p class="card-text text-light">
            The Men in Black have expanded to cover the globe but so have the
            villains of the universe.
          </p>
          <a href="#" class="btn">Show Details</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../assets/6underposter.jpg"
          alt="Card image cap"
          height="400px"
        />
        <div class="card-body">
          <h5 class="card-title text-light">6 Underground</h5>
          <p class="card-text text-light">
            6 Underground is a 2019 American vigilante action thriller film
            directed by Michael Bay.
          </p>
          <a href="#" class="btn">Show Details</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../assets/avengers.jpg"
          alt="Card image cap"
          height="400px"
        />
        <div class="card-body">
          <h5 class="card-title text-light">Avengers: Endgame</h5>
          <p class="card-text text-light">
            Avengers: Endgame is a superhero film based on the Marvel Comics
            superhero team the Avengers.
          </p>
          <a href="#" class="btn">Show Details</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../assets/kgf.jpg"
          alt="Card image cap"
          height="400px"
        />
        <div class="card-body">
          <h5 class="card-title text-light">KGF: Chapter 2</h5>
          <p class="card-text text-light">
            The blood-soaked land of Kolar Gold Fields (KGF) has a new overlord
            now - Rocky.
          </p>
          <a href="#" class="btn">Show Details</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container m-5">
  <h3
    class="text-center text-light"
    style="
      font-family: 'Quicksand', sans-serif;
      font-weight: 600;
      margin-top: 80px;
    "
  >
    Coming Soon
  </h3>
  <fa-icon [icon]="faCamera" class="icon"></fa-icon>

  <div class="row my-5">
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../assets/extin.jpg"
          alt="Card image cap"
          height="400px"
        />
        <div class="card-body">
          <h5 class="card-title text-light">Extinct</h5>
          <a href="#" class="btn">Show Details</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../assets/aman.jpg"
          alt="Card image cap"
          height="400px"
        />
        <div class="card-body">
          <h5 class="card-title text-light">A Man Named Scott</h5>
          <a href="#" class="btn">Show Details</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../assets/bumbee.jpg"
          alt="Card image cap"
          height="400px"
        />
        <div class="card-body">
          <h5 class="card-title text-light">Bumblebee</h5>
          <a href="#" class="btn">Show Details</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="../../assets/minnal.jpg"
          alt="Card image cap"
          height="400px"
        />
        <div class="card-body">
          <h5 class="card-title text-light">Minnal Murali</h5>
          <a href="#" class="btn">Show Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
