<div class="container">
  <!-- Image and text -->
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img
        src="../assets/plex.png"
        width="131"
        height="50"
        class="d-inline-block align-top mx-5"
        alt=""
      />
    </a>
    <ul style="display: contents" class="navbar-nav text-light">
      <li><a href="#">Buy Ticket</a></li>
      <li><a href="#">Ticket Price</a></li>
      <li><a href="#">Account?</a></li>
    </ul>
  </nav>
  <app-home-page></app-home-page>
</div>
