<div class="container">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img
        src="../assets/plex.png"
        width="131"
        height="50"
        class="d-inline-block align-top mx-5"
        alt=""
      />
    </a>
    <ul style="display: contents" class="navbar-nav text-light">
      <li class="nav-item"><a href="#">Buy Ticket</a></li>
      <li class="nav-item"><a routerLink="/ticket">Ticket Price</a></li>
      <li class="nav-item"><a routerLink="/login">Account</a></li>
    </ul>
  </nav>
  <table class="table text-light my-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ticket Type</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Regular</td>
        <td>350 BDT</td>
        <td><button class="btn text-light">Buy Now</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Premium</td>
        <td>500 BDT</td>
        <td><button class="btn text-light">Buy Now</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <TD>VIP (with popcorn & drinks)</TD>
        <td>700 BDT</td>
        <td><button class="btn text-light">Buy Now</button></td>
      </tr>
    </tbody>
  </table>
</div>
